# Игнорируем виртуальное окружение (очень важно!)
.venv/
venv/
ENV/

# Игнорируем настройки редактора
.idea/

# Игнорируем кэш питона
__pycache__/
*.pyc

# (По желанию) Можно игнорировать файлы результатов, если они огромные.
# Но для диплома пока оставь, пусть лежат для истории.